<h1>Welcome to Angular!</h1>

<button (click)="toggle = !toggle">Toggle</button>

<p *ngIf="toggle" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nobis?</p>
<p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iste?</p>

<hr>

<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nobis?</p>
<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iste?</p>
</ng-template>
